<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<ul class="icons">
		{% for key_value in site.socials %}
			{% if key_value[1] %}
				<li>
					<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
						<span class="label">{{ key_value[0] }}</span>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="actions vertical">
		<li><a href="{{ "" | absolute_url }}" class="button special fit">Home</a></li>
	</ul>
	<ul class="links">
	{% assign sorted_pages = site.pages | sort:"order" %}
        {% for page in sorted_pages %}
		{% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</nav>

	<!-- Wrapper -->
<div id="wrapper">
